name: scribe
description: TMail AI scribe extension
version: 0.0.1
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  ### Local dependencies ###
  core:
    path: ../core

  ### Dependencies from git ###
  jmap_dart_client:
    git:
      url: https://github.com/linagora/jmap-dart-client.git
      ref: main

  ### Dependencies from pub.dev ###
  dartz: 0.10.1

  dio: 5.2.0

  get: 4.6.6

  pointer_interceptor: 0.10.1+2

  intl: 0.20.2

  json_annotation: 4.8.0

  flutter_svg: 2.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  build_runner: 2.4.10

  json_serializable: 6.6.1

  ### Original dependency is abandoned, so we use fork
  ### https://github.com/linagora/intl_generator/pull/1
  intl_generator:
    git:
      url: https://github.com/linagora/intl_generator.git
      ref: master

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  uses-material-design: true

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
