name: core
description: Core Module

# As we are not publishing this Installer in pub.dev, we can add publish_to: 'none'
publish_to: none
# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
#
# This version is used _only_ for the Runner app, which is used if you just do
# a `flutter run` or a `flutter make-host-app-editable`. It has no impact
# on any other native host app that you embed your Flutter project into.
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  ### Dependencies from git ###
  # TODO: We will change it when the PR in upstream repository will be merged
  # https://github.com/solid-software/languagetool_textfield/pull/83
  languagetool_textfield:
    git:
      url: https://github.com/dab246/languagetool_textfield.git
      ref: twake-supported

  # Sanitize_html is restricting Tags and Attributes. So some of our own tags and attributes (signature, public asset,...) will be lost when sanitizing html.
  # TODO: We will change it when the PR in upstream repository will be merged
  # https://github.com/google/dart-neats/pull/259
  sanitize_html:
    git:
      url: https://github.com/linagora/dart-neats.git
      ref: support_mail
      path: sanitize_html

  ### Dependencies from pub.dev ###
  cupertino_icons: 1.0.6

  flutter_svg: 2.0.9

  dio: 5.0.0

  dartz: 0.10.1

  equatable: 2.0.5

  built_collection: 5.1.1

  html: 0.15.3

  get: 4.6.6

  device_info_plus: 8.1.0

  flutter_inappwebview: 6.0.0

  url_launcher: 6.1.10

  universal_html: 2.2.4

  http: ^1.1.0

  pointer_interceptor: 0.10.1

  flutter_keyboard_visibility: 6.0.0

  flex_color_picker: 3.2.0

  flutter_image_compress: 2.1.0

  http_parser: 4.0.2

  path_provider: 2.1.1

  collection: 1.18.0

  intl: 0.19.0

  flutter_typeahead: 5.0.2

  linkify: 5.0.0

  printing: 5.12.0

  package_info_plus: 4.2.0

  fk_user_agent: 2.1.0

  flutter_charset_detector: 3.0.0

  debounce_throttle: 2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: 2.0.1

  path_provider_platform_interface: 2.1.1

  plugin_platform_interface: 2.1.8

  build_runner: 2.3.3

  mockito:  5.4.4
# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add Flutter specific assets to your application, add an assets section,
  # like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add Flutter specific custom fonts to your application, add a fonts
  # section here, in this "flutter" section. Each entry in this list should
  # have a "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages


  # This section identifies your Flutter project as a module meant for
  # embedding in a native host app.  These identifiers should _not_ ordinarily
  # be changed after generation - they are used to ensure that the tooling can
  # maintain consistency when adding or modifying assets and plugins.
  # They also do not have any bearing on your native host application's
  # identifiers, which may be completely independent or the same as these.