on:
  push:
    branches:
      - "master"
    tags:
      - "v*.*.*"

name: Build Docker images

jobs:
  build-dev-image:
    name: Build development image
    if: github.ref_type == 'branch' && github.ref_name == 'master'
    uses: ./.github/workflows/build-web-image.yaml
    with:
      environment: dev
      docker-tags: type=ref,event=branch
      artifact-name: source-maps-dev
    secrets: inherit

  build-release-image:
    name: Build release image
    if: github.ref_type == 'tag' && startsWith(github.ref, 'refs/tags/v')
    uses: ./.github/workflows/build-web-image.yaml
    with:
      environment: prod
      docker-tags: |
        type=ref,event=tag
        type=raw,value=release
      artifact-name: source-maps-release
    secrets: inherit
